body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1541 {
  position:absolute;
  left:50px;
  top:0px;
  width:430px;
  height:880px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1542 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:25px;
}
#u1543 {
  position:absolute;
  left:76px;
  top:107px;
  width:374px;
  height:25px;
}
#u1544 {
  position:absolute;
  left:2px;
  top:4px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:643px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1545 {
  position:absolute;
  left:78px;
  top:132px;
  width:372px;
  height:643px;
}
#u1546 {
  position:absolute;
  left:2px;
  top:314px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u1547 {
  position:absolute;
  left:86px;
  top:134px;
  width:11px;
  height:19px;
}
#u1548 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:2px;
}
#u1549 {
  position:absolute;
  left:78px;
  top:162px;
  width:372px;
  height:1px;
}
#u1550 {
  position:absolute;
  left:2px;
  top:-8px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  color:#1B1B1B;
}
#u1551 {
  position:absolute;
  left:195px;
  top:134px;
  width:132px;
  height:22px;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  color:#1B1B1B;
}
#u1552 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u1553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:197px;
}
#u1553 {
  position:absolute;
  left:109px;
  top:183px;
  width:311px;
  height:197px;
}
#u1554 {
  position:absolute;
  left:2px;
  top:90px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1555_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:9px;
}
#u1555 {
  position:absolute;
  left:78px;
  top:419px;
  width:372px;
  height:4px;
}
#u1556 {
  position:absolute;
  left:2px;
  top:-6px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  color:#1B1B1B;
}
#u1557 {
  position:absolute;
  left:91px;
  top:392px;
  width:132px;
  height:22px;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  color:#1B1B1B;
}
#u1558 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u1559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  color:#1B1B1B;
}
#u1559 {
  position:absolute;
  left:356px;
  top:392px;
  width:87px;
  height:22px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  color:#1B1B1B;
}
#u1560 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u1561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
}
#u1561 {
  position:absolute;
  left:106px;
  top:444px;
  width:326px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:15px;
}
#u1562 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
