body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1658 {
  position:absolute;
  left:50px;
  top:0px;
  width:430px;
  height:880px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1659 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1660 {
  position:absolute;
  left:78px;
  top:107px;
  width:375px;
  height:668px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1661 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:141px;
}
#u1662 {
  position:absolute;
  left:79px;
  top:107px;
  width:374px;
  height:141px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1663 {
  position:absolute;
  left:2px;
  top:62px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1664 {
  position:absolute;
  left:196px;
  top:182px;
  width:145px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1665 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1666 {
  position:absolute;
  left:414px;
  top:141px;
  width:30px;
  height:30px;
}
#u1667 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1668 {
  position:absolute;
  left:80px;
  top:106px;
  width:30px;
  height:30px;
}
#u1669 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1670 {
  position:absolute;
  left:167px;
  top:113px;
  width:16px;
  height:16px;
}
#u1671 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1672 {
  position:absolute;
  left:116px;
  top:113px;
  width:49px;
  height:17px;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1673 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1674 {
  position:absolute;
  left:426px;
  top:107px;
  width:22px;
  height:22px;
}
#u1675 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1676 {
  position:absolute;
  left:398px;
  top:112px;
  width:26px;
  height:17px;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1677 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1678 {
  position:absolute;
  left:210px;
  top:144px;
  width:115px;
  height:27px;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1679 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u1680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1680 {
  position:absolute;
  left:79px;
  top:140px;
  width:30px;
  height:30px;
}
#u1681 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:480px;
}
#u1682 {
  position:absolute;
  left:96px;
  top:280px;
  width:342px;
  height:480px;
}
#u1683 {
  position:absolute;
  left:2px;
  top:232px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:58px;
}
#u1684 {
  position:absolute;
  left:105px;
  top:253px;
  width:116px;
  height:58px;
}
#u1685 {
  position:absolute;
  left:2px;
  top:21px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(253, 93, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1686 {
  position:absolute;
  left:100px;
  top:311px;
  width:110px;
  height:26px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1687 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u1688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(253, 93, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1688 {
  position:absolute;
  left:212px;
  top:311px;
  width:110px;
  height:26px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1689 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(253, 93, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1690 {
  position:absolute;
  left:324px;
  top:311px;
  width:110px;
  height:26px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1691 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u1692 {
  position:absolute;
  left:110px;
  top:493px;
  width:284px;
  height:19px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u1693 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  white-space:nowrap;
}
