body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1442 {
  position:absolute;
  left:50px;
  top:0px;
  width:430px;
  height:880px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1443 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1444 {
  position:absolute;
  left:78px;
  top:107px;
  width:375px;
  height:668px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1445 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:141px;
}
#u1446 {
  position:absolute;
  left:79px;
  top:107px;
  width:374px;
  height:141px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1447 {
  position:absolute;
  left:2px;
  top:62px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1448 {
  position:absolute;
  left:196px;
  top:182px;
  width:145px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1449 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1450 {
  position:absolute;
  left:80px;
  top:106px;
  width:30px;
  height:30px;
}
#u1451 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1452 {
  position:absolute;
  left:167px;
  top:113px;
  width:16px;
  height:16px;
}
#u1453 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1454 {
  position:absolute;
  left:116px;
  top:113px;
  width:49px;
  height:17px;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1455 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1456 {
  position:absolute;
  left:426px;
  top:107px;
  width:22px;
  height:22px;
}
#u1457 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1458 {
  position:absolute;
  left:398px;
  top:112px;
  width:26px;
  height:17px;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1459 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1460 {
  position:absolute;
  left:210px;
  top:144px;
  width:115px;
  height:27px;
  font-family:'HanHeiSC SemiBold', 'HanHeiSC';
  font-weight:600;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u1461 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u1462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1462 {
  position:absolute;
  left:79px;
  top:140px;
  width:30px;
  height:30px;
}
#u1463 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:480px;
}
#u1464 {
  position:absolute;
  left:96px;
  top:280px;
  width:342px;
  height:480px;
}
#u1465 {
  position:absolute;
  left:2px;
  top:232px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:58px;
}
#u1466 {
  position:absolute;
  left:105px;
  top:253px;
  width:116px;
  height:58px;
}
#u1467 {
  position:absolute;
  left:2px;
  top:21px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(253, 93, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1468 {
  position:absolute;
  left:100px;
  top:311px;
  width:110px;
  height:26px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1469 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u1470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(253, 93, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1470 {
  position:absolute;
  left:212px;
  top:311px;
  width:110px;
  height:26px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1471 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(253, 93, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1472 {
  position:absolute;
  left:324px;
  top:311px;
  width:110px;
  height:26px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1473 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u1474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1474 {
  position:absolute;
  left:231px;
  top:345px;
  width:73px;
  height:17px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1475 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1476 {
  position:absolute;
  left:231px;
  top:372px;
  width:74px;
  height:17px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1477 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1478 {
  position:absolute;
  left:231px;
  top:399px;
  width:75px;
  height:17px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1479 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1480 {
  position:absolute;
  left:231px;
  top:426px;
  width:75px;
  height:17px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1481 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1482 {
  position:absolute;
  left:346px;
  top:345px;
  width:66px;
  height:17px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1483 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1484 {
  position:absolute;
  left:346px;
  top:372px;
  width:66px;
  height:17px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1485 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1486 {
  position:absolute;
  left:346px;
  top:399px;
  width:66px;
  height:17px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1487 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1488 {
  position:absolute;
  left:346px;
  top:426px;
  width:66px;
  height:17px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1489 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1490 {
  position:absolute;
  left:133px;
  top:342px;
  width:42px;
  height:17px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1491 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1492 {
  position:absolute;
  left:133px;
  top:369px;
  width:40px;
  height:17px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1493 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1494 {
  position:absolute;
  left:133px;
  top:396px;
  width:39px;
  height:17px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1495 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1496 {
  position:absolute;
  left:133px;
  top:423px;
  width:39px;
  height:17px;
  font-family:'HanHeiSC Thin', 'HanHeiSC';
  font-weight:300;
  font-style:normal;
}
#u1497 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
